{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

            <!-- banner -->
           {% include 'banner.html' %}
            <!-- end banner -->
            <!-- about -->
            {% include 'sobre.html' %}
            <!-- about -->
            <!-- best -->
            {% include 'produtos.html' %}
            <!-- end best -->
            <!-- request -->
            {% include 'contato.html' %}
            <!-- end request -->
            <!-- two_box section -->
            {% include 'oferta.html' %}
            <!-- end two_box section -->
            <!-- testimonial -->
            {% include 'avaliacao.html' %}
            <!-- testimonial -->

      {% endblock %}
